*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.grid {
  width: 90%;
  padding: 20px;
  height: 90vh;
  display: grid;
  margin: 0 auto;
  gap: 20px;
  /* grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(2, 70%); */
}

.one {
  background-color: red;
  grid-column-start: 1;
  grid-column-end: 3;
}
.two {
  background-color: blue;
  grid-column-start: 3;
  grid-column-end: 4;
}
.three {
  background-color: purple;
  grid-column-start: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.four {
  background-color: green;
  grid-column-start: 1;
  grid-column-end: 2;
}

.five {
  background-color: yellow;
  grid-column-start: 2;
  grid-column-end: 4;
}
